html, body 
{
    background-color: rgb(67, 67, 67);
    height: 100%;
    margin: 0;
    font-size: 16pt;
}
.button_home { 
    background-image: url( '/static/main/obj/truck.png'); 
    background-size: cover; 
    width: 300px; 
    border-radius: 5px;
    height: 200px; 
    font-size: 2rem; 
} 

.btn-background {
    width: 500px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    color: white; /* Text color */
    font-size: 16px; /* Text size */
    text-align: center; /* Center the text */
    vertical-align: middle; /* Center the text vertically */
    display: flex;
    border-radius: 5px;
    border-color: black;
    border: 2px;
    justify-content: center;
    align-items: center;
    border: none; /* Remove border */
    background-size: cover; /* Cover the entire button */
    background-position: center; /* Center the background image */
    cursor: pointer; /* Pointer cursor on hover */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Add text shadow for better readability */
}

#button_pong {
    background-image: url("/static/main/obj/truck.png");
}

#button_truckleague {
    background-image: url("/static/main/obj/truck.png");

}

#scoreboard div {
    margin-bottom: 10px;
}

#scoreboard div div {
    margin-bottom: 5px;
}

#gameCont 
{
	padding-top: 15px;
}

.play_btns
{
	/* position: relative;
	display: flex; 
	flex-direction: column; 
	justify-content: center;
	align-items: center;
	text-align: center;*/
	width: auto;
	margin: 0 auto; 
	z-index: 99;
}

.three-js-canvas {
    flex-grow: 1; /* Takes up the remaining space */
}

#editor {
  display: flex;
  width: 100%;
  height: 100%;
}

#controls {
  background: #ffffff00;
  /* background: linear-gradient(#fd8f8fdc, rgb(161, 255, 140)); */
  padding: 5px;
}

.hidden {
    display: none;
}


.hud-btn { 
	background: whitesmoke;
	border: 2px solid;
	font: inherit;
	line-height: 1;
	margin: 0.5em;
	padding: 1em 2em;
}


.hud-btn:hover,
.hud-btn:focus
{
	box-shadow: inset 6.5em 0 0 0 var(--hover);
}


#onlineplay_btn
{
	color: #ee7752;
}

#localplay_btn
{
	color: #23d5ab;
}

#versusai_btn
{
	color: #0967cc;
}

#t_onlineplay_btn
{
	color: #a4f97f;
}

.hud {
    display: block;
    position: absolute;
    left: 100px;
    top: 100px;
}

.gutter {
    background-color: #a4f97f;
    background-repeat: no-repeat;
    background-position: 50%;
}
.gutter.gutter-horizontal {
    cursor: ew-resize;
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==')
}

#scoreboard
{
	position: absolute;
	top: 10px;
	left: 10px;
	color: white;
	font-size: 24px;
	font-family: Arial, sans-serif;
}

#chat-container {
    width: 300px;
    background: #0967cc;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    /* margin: 20px; */
}

#chat-box {
    height:400px;
    overflow-y: auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;
    margin-bottom: 10px;
	
}

#chat-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#chat-box li {
    padding: 8px;
    border-bottom: 1px solid #eee;
}

#chat-input {
    width: calc(100% - 75px);
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
}

/* FOR COLORFUL BACKGROUND */
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* FOR GAMES BUTTONS */
.pulse:hover, 
.pulse:focus
{
	animation: pulse 1s;
	box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse 
{
	0% { box-shadow: 0 0 0 0 var(--hover); }
}
