html, body 
{
    background-color: rgb(67, 67, 67);
    height: 100%;
    margin: 0;
    font-size: 16pt;
}
.button_home { 
    background-image: url( '/static/main/obj/truck.png'); 
    background-size: cover; 
    width: 300px; 
    border-radius: 5px;
    height: 200px; 
    font-size: 2rem; 
} 

.btn-background {
    width: 800px; /* Adjust the width as needed */
    height: 500px; /* Adjust the height as needed */
    color: white; /* Text color */
    font-size: 16px; /* Text size */
    text-align: center; /* Center the text */
    vertical-align: middle; /* Center the text vertically */
    display: flex;
    border-radius: 5px;
    border-color: black;
    border: 2px;
    justify-content: center;
    align-items: center;
    border: none; /* Remove border */
    background-size: cover; /* Cover the entire button */
    background-position: center; /* Center the background image */
    cursor: pointer; /* Pointer cursor on hover */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Add text shadow for better readability */
}

#button_pong {
    background-image: url("/static/main/obj/pong.png");
}

#button_truckleague {
    background-image: url("/static/main/obj/truck.png");

}

/* !!! Padding will need to be changed once game window is flexible!!! */
#scoreboard  {
	position: absolute;
	padding-top: 45px;
    padding-left: 20px;
}
#boost-indicator {
    border-radius: 5px;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 20px;
    background-color: grey;
}

#boost-bar {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-color: green;
    background: linear-gradient(90deg, rgb(210, 233, 2) 0%, rgba(0,180,22,1) 100%);
}


.gameCont {
    display: flex;
    justify-content: space-between; /* This will push your chatbox to the right */
    height: 100vh; /* Adjust height as needed */
}

#gameCont 
{
	align-items: center;
	padding-top: 40px;
	height: 600px;
}

/* #gameCont {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}*/

.play_btns {
	padding-left: 25%;
	/* padding-top: 7%; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
	align-items: center;
	text-align: center;
	position: relative;
} 

/* .play_btns
{
	display: flex; 
	flex-direction: column; 
	width: inherit;
	margin: 0 auto; 
	z-index: 99;
} */

.three-js-canvas {
	flex-grow: 1; /* Takes up the remaining space */
}

#editor {
  display: flex;
  width: 100%;
  height: 100%;
}

#controls {
  background: #ffffff00;
  /* background: linear-gradient(#fd8f8fdc, rgb(161, 255, 140)); */
  padding-top: 28px;
  /* height: 539.46px; */
}

.hidden {
    display: none;
}


/* .hud-btn {
    display: block;
    border-radius: 1em;
    text-align: center;
    font-family: sans-serif;
    font-size: 150%;    
    flex:1;
    background: rgba(255, 255, 255, 0.88);
    padding: 20px;
    margin: 5px;
    border: solid 1px rgb(215, 215, 215); */
.hud-btn { 
	background: whitesmoke;
	border: 2px solid;
	font: inherit;
	line-height: 1;
	margin: 0.5em;
	padding: 1em 2em;
}


.hud-btn:hover,
.hud-btn:focus
{
	box-shadow: inset 6.5em 0 0 0 var(--hover);
}

#randomize-colors-btn
{
	margin: 0 auto;
}

#play_btns
{
	margin: 0 auto;
}

#onlineplay_btn
{
	color: #ee7752;
}

#localplay_btn
{
	color: #23d5ab;
}

#versusai_btn
{
	color: #0967cc;
}

#t_onlineplay_btn
{
	color: #a4f97f;
}

.hud {
    display: block;
    position: absolute;
    left: 100px;
    top: 100px;
}

.gutter {
    background-color: #a4f97f;
    background-repeat: no-repeat;
    background-position: 50%;
}
.gutter.gutter-horizontal {
    cursor: ew-resize;
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==')
}

#scoreboard
{
	position: absolute;
	top: 10px;
	left: 10px;
	color: white;
	font-size: 24px;
	font-family: Arial, sans-serif;
}

#chat-container {
    width: 300px;
    background: #0967cc;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    /* margin: 20px; */
	height: 539.46px;
}

#chat-box {
    height:450px;
    overflow-y: auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;
    margin-bottom: 10px;
	
}

/* #chat-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
} */

#chat-box li {
    padding: 8px;
    border-bottom: 1px solid #eee;
}

#chat-input {
    width: calc(100% - 75px);
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
}

#endGameMessage
{
    position: absolute;
	padding-top: 50%;
    padding-left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 2em;

/* 	
    endGameMessage.style.transform = 'translate(-50%, -50%)';
    endGameMessage.innerHTML = `${winner} wins!<br>`; */
}
/* FOR COLORFUL BACKGROUND */
body {
	background: linear-gradient(-45deg, #6c52ee, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* FOR GAMES BUTTONS */
.pulse:hover, 
.pulse:focus
{
	animation: pulse 1s;
	box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse 
{
	0% { box-shadow: 0 0 0 0 var(--hover); }
}

/* FOR COLORFUL BACKGROUND */
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* FOR GAMES BUTTONS */
.pulse:hover, 
.pulse:focus
{
	animation: pulse 1s;
	box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse 
{
	0% { box-shadow: 0 0 0 0 var(--hover); }
}

.loader {
    display: none;
    background: #000;
    background: radial-gradient(#3b3b3b, #000);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: 
    spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: #ee7752;
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: #e73c7e;
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: #23a6d5;
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: #23d5ab;
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(61, 96%, 67%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.midMsg {
    display: none;
    position: 'absolute';
    top: '50%';
    left: '50%';
    transform: 'translate(-50%, -50%)';
    /* fontSize: '3em'; */
    color: '#fff';
}

#truckGameCont
{
	display: flex;
	overflow: auto;
	width: 1500px;
	height: 1000px;
	margin-top: 20px;
	
}

#truckScoreboard
{
	position: inherit;
	top: 0px;
	left: 350px;
	color: white;
	font-size: 24px;
	font-family: Arial, sans-serif;
}
/* 
#truckScoreMsg
{
	color: white;
	background-color: #3b3b3b;
	width: 100px;
	text-align: center;
	/* -webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: black;
	-ms-text-size-adjust: 25; 
}*/

#truckTeam1Score
{
	color: white;
	background-color: #3b3b3b; /* make it team color*/
	text-align: center;
	width: 125px;
}

#truckTeam2Score
{
	color: white;
	background-color: #3b3b3b; /* make it team color*/
	text-align: center;
	width: 125px;
} */