html, body {
    background-color: rgb(67, 67, 67);
    height: 100%;
    margin: 0;
    font-size: 16pt;
}
.button_home { 
    background-image: url( '/static/main/obj/truck.png'); 
    background-size: cover; 
    width: 300px; 
    border-radius: 5px;
    height: 200px; 
    font-size: 2rem; 
} 

.btn-background {
    width: 200px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    color: white; /* Text color */
    font-size: 16px; /* Text size */
    text-align: center; /* Center the text */
    vertical-align: middle; /* Center the text vertically */
    display: flex;
    border-radius: 5px;
    border-color: black;
    border: 2px;
    justify-content: center;
    align-items: center;
    border: none; /* Remove border */
    background-size: cover; /* Cover the entire button */
    background-position: center; /* Center the background image */
    cursor: pointer; /* Pointer cursor on hover */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Add text shadow for better readability */
}

#button_pong {
    background-image: url("/static/main/obj/pong.png");
}

#button_truckleague {
    background-image: url("/static/main/obj/truck.png");

}

#boost-indicator {
    border-radius: 5px;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 20px;
    background-color: grey;
}

#boost-bar {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-color: green;
    background: linear-gradient(90deg, rgb(210, 233, 2) 0%, rgba(0,180,22,1) 100%);
}


.gameCont {
    display: flex;
    justify-content: space-between; /* This will push your chatbox to the right */
    height: 100vh; /* Adjust height as needed */
}

.three-js-canvas {
    flex-grow: 1; /* Takes up the remaining space */
}

#editor {
  display: flex;
  width: 100%;
  height: 100%;
}

#controls {
  background: #7e0505dc;
  /* background: linear-gradient(#fd8f8fdc, rgb(161, 255, 140)); */
  padding: 5px;
}

.hidden {
    display: none;
}


.hud-btn { 
    border-radius: 1em;
    text-align: center;
    font-family: sans-serif;
    font-size: 150%;    
    flex:1;
    background: rgba(255, 255, 255, 0.88);/*not a highlight. Its a lowdark*/ 
    padding: 20px;
    margin: 5px;
    border: solid 1px rgb(215, 215, 215);
}


.hud-btn:hover {
    background: none;
    cursor: pointer;
    border: none;
    flex:1;
    border-radius: 1em;
    text-align: center;
    font-family: sans-serif;
    font-size: 175%;
    background: rgba(200, 255, 250, 0.652);
    padding: 20px;
    margin: 5px;
    border: solid 1px gray;
}

.hud {
    display: block;
    position: absolute;
    left: 100px;
    top: 100px;
}

.gutter {
    background-color: #a4f97f;
    background-repeat: no-repeat;
    background-position: 50%;
}
.gutter.gutter-horizontal {
    cursor: ew-resize;
    background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==')
}
#chat-container {
    width: 300px;
    background: #0967cc;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    /* margin: 20px; */
}

#chat-box {
    height: 200px;
    overflow-y: auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;
    margin-bottom: 10px;
}

#chat-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#chat-box li {
    padding: 8px;
    border-bottom: 1px solid #eee;
}

#chat-input {
    width: calc(100% - 75px);
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
}
