# Ignore node_modules directory
node_modules/

# Ignore logs
logs/
*.log

# Ignore temporary files
tmp/
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment files
.env
# transcendence/nginx/nginx.conf

# Ignore build artifacts
dist/
build/

# Ignore coverage reports
coverage/
*.lcov
