<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcendence</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/styles/style.css' %}" type="text/css">
    <script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>
    <script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@0.150.1/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.150.1/examples/jsm/"
        }
    }
    </script>
    <script src="{% static 'main/scripts/socket.js' %}" type="module"></script>
    <script src="{% static 'main/scripts/chat.js' %}" type="module"></script>
    <!-- <script src="{% static 'main/scripts/split.min.js' %}" type="module"></script> -->

</head>
<body>
    <!-- <div id="auth-status">
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}!</p>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <p>You are not logged in. <a href="{% url 'login' %}">Login</a></p>
        {% endif %}
    </div> -->
    <!-- -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Transcendence</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Pong <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">OtherGameName</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login">Signin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Disconnect</a>
            </li>
          </ul>
        </div>
    </nav>
    <!-- -->
    <!-- SERVER STATUS DEBUG 
        <h4 id="ServerStatus">Server Status : <span style="color: red;">Disconnected</span></h4>
    <button id="sendBtn">Send Message to Server</button>
    <button id="connectBtn" type="button"><span id="btnText">Connect</span></button> -->

    <div id="editor">
        <div id="view">
            <canvas id="game">
                <script src="{% static 'main/scripts/game.js' %}" type="module"></script>
            </canvas>
        </div>
        <div class="gutter gutter-horizontal"></div>
        <div id="controls">
          <div>
            <div id="chat-container"> Chat
                <div id="chat-box">
                    <ul id="chat-messages"></ul>
                </div>
                <input type="text" id="chat-input" placeholder="Type a message..." />
                <button onclick="sendMessage()">Send</button>
            </div>
          </div>
        </div>
      </div>


      <!-- <script type="module">
        /* global Split */
        
        // This code is only related to handling the split.
        // Our three.js code has not changed
        Split(['#view', '#controls'], {  // eslint-disable-line new-cap
          sizes: [75, 25],
          minSize: 100,
          elementStyle: (dimension, size, gutterSize) => {
            return {
              'flex-basis': `calc(${size}% - ${gutterSize}px)`,
            };
          },
          gutterStyle: (dimension, gutterSize) => {
            return {
              'flex-basis': `${gutterSize}px`,
            };
          },
        });
        </script> -->

    <!-- <div class="row mt-3"> 
        <div class="col-md-8"> Game div
            <div id="game"></div>
        </div>
        <div class="col-md-4">
           
        </div>
    </div> 
-->
</body>
</html>

