{% extends 'base.html' %}
{% load static %}
{% block title %}Transcendence{% endblock %}
{% block content %}
<div class="row">
    <div class="col container mt-5 d-flex justify-content-center align-items-center">
        <a href="/Pong/">
            <button id="button_pong" class="btn-background">3D Pong Game</button>
        </a>
    </div>
    <div class="col container mt-5 d-flex justify-content-center align-items-center">
        <a href="/truckleague/">
            <button id="button_truckleague" class="btn-background">Truck League</button>
        </a>
    </div>
</div>
{% endblock %}
