{% extends 'base.html' %}
{% load static %}
{% block title %}Transcendence | Pong{% endblock %}
{% block content %}
<!-- SERVER STATUS DEBUG 
    <h4 id="ServerStatus">Server Status : <span style="color: red;">Disconnected</span></h4>
<button id="sendBtn">Send Message to Server</button>
<button id="connectBtn" type="button"><span id="btnText">Connect</span></button> -->

<!-- ThreeJs -->
<script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@0.164.1/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.164.1/examples/jsm/" 
      }
    }
</script>
<script src="{% static 'main/scripts/socket_pong.js' %}" type="module"></script>
<script src="{% static 'main/scripts/ui/camera.js' %}" type="module"></script>
<script src="{% static 'main/scripts/pong.js' %}" type="module"></script>
<script src="{% static 'main/scripts/gameplay/player.js' %}" type="module"></script>
<script src="{% static 'main/scripts/gameplay/collision.js' %}" type="module"></script>
<script src="{% static 'main/scripts/gameplay/ball.js' %}" type="module"></script>
<script src="{% static 'main/scripts/gameplay/wall.js' %}" type="module"></script>
<script src="{% static 'main/scripts/gameplay/score.js' %}" type="module"></script>
<script src="{% static 'main/scripts/ui/ui_tournament.js' %}" type="module"></script>
<script src="{% static 'main/scripts/ui/chat.js' %}" type="module"></script>
<script src="{% static 'main/scripts/ui/ui_updates.js' %}" type="module"></script>
<script src="{% static 'main/scripts/utils/setter.js' %}" type="module"></script>
<script src="{% static 'main/scripts/websockets/socket_pong.js' %}" type="module"></script>
<script src="{% static 'main/scripts/gameplay/AIplayer.js' %}" type="module"></script>
<div id="editor">
	<div id="view" class="container">
		<!-- <script src="{% static 'main/scripts/split.min.js' %}" type="module"></script> -->
		<!-- <script src="{% static 'main/scripts/controls.js' %}" type="module"></script> -->
		<div class="row">
			<div class="col">
				<div class="gamediv">
					<div class="ui-btns">
						<div id="play_btns" class="col d-flex flex-column hud "> <!-- unnecessary arguments:start-50 translate-middle mx-1 position-absolute  start-60/////text-center align-items-center align-self-center -->
							<div id="onlineplay_btn" class="row hud-btn game-button btn btn-primary bg-primary bg-gradient border border-black">
								<b class="strokeme">Play Online</b> <br>
								<small  class="strokeme">(1vs1 / 2vs2)</small>
							</div>
							<div id="localplay_btn" class="row hud-btn game-button btn btn-primary bg-primary bg-gradient">
								<b  class="strokeme">Play Local</b> <br>
								<small  class="strokeme">(1vs1 / 2vs2)</small>
							</div>
							<div id="versusai_btn" class="row hud-btn game-button btn btn-primary bg-primary bg-gradient">
								<b  class="strokeme">Versus AI</b>
								<br>
								🤖
							</div>
							<button type="button" id="tournament_btn" class="row hud-btn game-button btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
								<b  class="strokeme">Tournament</b><br>
								<small  class="strokeme">(4 players)</small>
							</button>
						</div>
						<!---------------------------------------------- SECOND LAYERS-------------------------------------------------- -->
						<div id="layer2Btns_online" class="col flex-column hud visually-hidden">
							<h1 class="strokeme">ONLINE</h1>
							<hr class="border border-info border-1">

							<div id="online_1v1_btn" class="row hud-btn game-button btn btn-info ">
								<b class="strokeme">1 v 1</b>
								<br>
								<small class="strokeme">(2 players mode)</small>
							</div>
							<div id="online_2v2_btn" class="row hud-btn game-button btn btn-info">
								<b class="strokeme">2 v 2</b>
								<br>
								<small class="strokeme">(4 players mode)</small>
							</div>
							<form id="online_join_btn">
								<input type="number" placeholder="0000" name="searchRoom" style="width:75px;">
								<button type="submit " class="btn btn-secondary text-white strokeme">Search</button>
							</form>
							<hr class="border border-info border-1">

							<div id="return_btn_1" class="row hud-btn game-button btn btn-info pt-1">
								<h2 class="strokeme">←</h2>
							</div>
						</div>

						<div id="layer2Btns_local" class="col flex-column hud visually-hidden">
							<h1 class="strokeme">LOCALPLAY</h1>
							<hr class="border border-info border-1">
							<div id="local_1v1_btn" class="row hud-btn game-button btn btn-info">
								<b class="strokeme">1 v 1</b>
								<br>
								<small class="strokeme">(2 players mode)</small>
							</div>
							<div id="local_2v2_btn" class="row hud-btn game-button btn btn-info">
								<b class="strokeme">2 v 2</b>
								<br>
								<small class="strokeme">(4 players mode)</small>
							</div>
							<hr class="border border-info border-1">
							<div id="return_btn_2" class="row hud-btn game-button btn pt-2 btn-info">
								<h2 class="strokeme">←</h2>
							</div>
						</div>

						<div id="layer2Btns_tournament" class=" col flex-column hud visually-hidden">
							<h1 class="strokeme">TOURNAMENT</h1>
							<hr class="border border-info border-1">
						<!-- Add tournament boutons -->
							<hr class="border border-info border-1">
							<div id="return_btn_3" class="row hud-btn game-button btn btn-info pt-2">
								<h2 class="strokeme">←</h2>
							</div>
						</div>
						<div id="start_btn" class=" col flex-column hud visually-hidden">
							<button id="startGameButton" class="btn btn-secondary game-button">Start Game</button>
						</div>
					</div>
					<div id="gameCont" class="three-js-canvas"></div> <!-- d-flex justify-content-center align-items-center -->	
				</div>

				<div id="cameraControls setting-btns" class="btn-group" >
					<button id="randomize-colors-btn" class="btn btn-secondary play-button randomize-colors-btn">Randomize Colors</button>
					<!-- CAMERA CONTROL -->
					<input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
					<label class="btn btn-secondary" id="player1CameraBtn" for="btnradio1">Player 1 Camera</label>
					<input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
					<label class="btn btn-secondary" id="player2CameraBtn" for="btnradio2">Player 2 Camera</label>
					<input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
					<label class="btn btn-secondary" id="topViewCameraBtn"  for="btnradio3">Top View Camera</label>
				</div>
				<div id="tournamentOptions" class="hidden"></div>
					<button id="createTournamentBtn">Créer un tournoi</button>
					<button id="joinTournamentBtn">Rejoindre un tournoi</button>
			</div>
			<div class="col">
				<div id="chat-container" class="col mt-3">
					<div id="chat-box">
						<ul id="chat-messages"></ul>
					</div>
					<input type="text" id="chat-input" placeholder="Type a message..." disabled/>
					<button id="chat-btn" class="btn btn-dark" disabled>
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff" version="1.1" id="Capa_1" width="20px" height="30px" viewBox="0 0 220.682 220.682" xml:space="preserve">
							<g>
								<polygon points="92.695,38.924 164.113,110.341 92.695,181.758 120.979,210.043 220.682,110.341 120.979,10.639" />
								<polygon points="28.284,210.043 127.986,110.341 28.284,10.639 0,38.924 71.417,110.341 0,181.758" />
							</g>
						</svg>
					</button>
				</div>
			</div>
		</div>
		
		<div id="tournamentJoinForm" class="hidden">
			<input type="text" id="tournamentIdInput" placeholder="Entrez l'ID du tournoi">
			<button id="submitJoinTournament">Rejoindre</button>
		</div>

				<!-- Placeholder pour afficher la liste des joueurs dans le lobby -->
			<div id="playersList">
				<h3>Players in the lobby:</h3>
				<ul id="playerListUl">
					<!-- Les joueurs seront ajoutés ici dynamiquement -->
				</ul>
			</div>
				

				<!-- Bouton pour démarrer la partie  STEVEN -->
				<!-- <div id="startGameDiv" class="game-controls">
					<button id="startGameButton" class="game-button">Start Game</button>
				</div> -->

				<!-- Placeholder pour entrer l'ID du tournoi pour rejoindre -->
				<div id="tournamentRoomSearch" class="hidden tournament-section">
					<form id="roomSearchForm">
						<input type="text" id="roomIdInput" placeholder="Enter Tournament Room ID"/>
						<button type="submit">Join Tournament</button>
					</form>
				</div>

				<!-- Placeholder pour afficher les scores -->
				<div id="tournament-scores" class="tournament-section hidden">
					<h3>Tournament Scores</h3>
					<div id="scoreboard">
						<!-- Les scores et résultats seront affichés ici -->
					</div>
				</div>
				<!-- !!!!!! -->
				
					
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Waiting for players...</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body row">
								<!-- <div class="container-fluid"></div> -->
								<div class="col" id="first-col"> 
									<div class="row"> 
										<div class="m-2">
											<div class="bracket mx-auto border border-black rounded" id="p1-row">
												<p class="my-auto mx-2 overflow-hidden mb-1">  player 1 </p>
											</div>
										</div>
									</div>
									<div class="row"> 
										<div class="m-2">
											<div class="bracket mx-auto border border-black rounded" id="p2-row">
												<p class="my-auto mx-2 overflow-hidden mb-1"> player 2 </p>
											</div>
										</div>
									</div>
									<div class="row"> 
										<div class="m-2">
											<div class="bracket mx-auto border border-black rounded" id="p3-row">
												<p class="my-auto mx-2 overflow-hidden mb-1"> player 3 </p>
											</div>
										</div>
									</div>
									<div class="row"> 
										<div class="m-2">
											<div class="bracket mx-auto border border-black rounded" id="p4-row">
												<p class="my-auto mx-2 overflow-hidden mb-1"> player 4 </p>
											</div>
										</div>
									</div>
								</div>
								<!-- Second column: 2 winners -->
								<div class="col align-self-center" id="second-col"> 
									<div class="row ">
										<div class="m-2">
											<div class="bracket mx-auto border border-black rounded" id="W1-row">
												<p class="my-auto mx-2 mb-1"> semi 1 </p>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="m-2">
											<div class="bracket mx-auto border border-black rounded" id="W2-row">
												<p class="my-auto mx-2  mb-1"> semi 2 </p>
											</div>
										</div>
									</div>
								</div>
						
								<!-- Third column: winner final -->
								<div class="col align-self-center" id="third-col">
									<div class="row">
										<div class="m-2">
											<div class="bracket mx-auto border border-black rounded" id="WF-row">
												<p class="my-auto mx-2 mb-1"> winner </p>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<!-- FOOTER BUTTON NECESSARY ?? -->
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Exit </button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- </div> -->

				<div id="playersList"></div>
                <!-- PREVIOUSLY LAYER2 FOR ONLINE -->
				<div id="scoreboard flex-container">
                    <div id="roomIdDiv">
						<p id="roomId" class="text-white bg-dark">Room: </p>
					</div>
					<div>
						<div>Player 1:</div>
						<div id="player1Score"></div>
					</div>
					<div>
						<div>Player 2:</div>
						<div id="player2Score"></div>
					</div>
				</div>
				<div id="end-game-buttons" class="game-button" style="display: none;">
					<button id="replay-btn" class="btn btn-primary">Replay</button>
					<button id="menu-btn" class="btn btn-secondary">Menu</button>
					<p id="endGameMessage"></p>
				</div>
				<!-- <button id="randomize-colors-btn" class="play-button randomize-colors-btn">Randomize Colors</button> -->


		</div>
	</div>
</div>
{% endblock %}
