{% extends 'base.html' %}
{% load static %}
{% block title %}Profile | About{% endblock %}
{% block content %}
<h1>Profile</h1>

<div class="card mb-5" style="max-width: 1000px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ profile.image.versions.medium }}" alt="{{ profile.login }}">
        </div>
        <div class="col-md-8">
            <div class="profilecard-body">
                <h5 class="profilecard-text">{{ profile.displayname }}</h5>
                <p class="profilecard-text">Login: {{ profile.login }}</p>
                <p class="profilecard-text">Email: {{ profile.email }}</p>

                {% if games %}
                    <p class="profilecard-text">Games won: {{ gamesWon }} out of {{ games|length }}</p>
                {% else %}
                    <p class="profilecard-text">Games won: 0</p>
                {% endif %}

                {% if is_own_profile %}
                    <h5 class="mt-4">Edit Profile</h5>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<hr style="text-align:left;margin-left:0;height:10px">

<h2>Match Results</h2>
{% if games %}
<ul>
	{% for game in games %}
        <li>
			<div class="card col-md-6" >
				<div class="matchcard-body">
					<strong>Game ID:</strong> {{ game.id }} <br>
            		<strong>Date:</strong> {{ game.date|date:"Y-m-d H:i:s" }} <br>
            		<strong>Players:</strong>
            		<ul>
                		{% for player in game.players.all %}
                    <li>
                        {{ player.user.username }} - Score: {{ player.score }} - Team: {{ player.team }}
                        {% if player.winner %} Winner👑{% endif %}
                    </li>
                		{% endfor %}
            		</ul>
				</div>
			</div>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>No games available.</p>
{% endif %}
{% endblock %}

