{% extends 'base.html' %}
{% load static %}
{% block title %}Profile | About{% endblock %}
{% block content %}

<h1 style="max-width: 1000px;" id="headers strokeme" class="mx-auto mt-3 ps-2 strokeme bg-dark rounded">Profile</h1>
<div class="card mx-auto" style="max-width: 1000px;">
    <div class="row g-0">
        <div class="col-md-4">
            {% if them.avatar and them.avatar.url %}
                <img src="{{ them.avatar.url }}" alt="{{ them.username }}" class="img-thumbnail" style="max-width: 200px;">
            {% else %}
                <img src="{{ MEDIA_URL }}avatars/default.jpg" alt="{{ them.username }}" class="img-thumbnail" style="max-width: 200px;">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="profilecard-body">
                <h4 class="profilecard-text">Status:
                    {% if is_online %}
                        <span class="text-success">Online</span>
                    {% else %}
                        <span class="text-danger">Offline</span>
                    {% endif %}
                </h4>
                <p class="profilecard-text">Username: {{ them.username }}</p>
                {% if them.alias %}
                    <p class="profilecard-text">Alias: {{ them.alias }}</p>
                {% endif %}

                {% if games %}
                    <p class="profilecard-text">Games won: {{ gamesWon }} out of {{ games|length }}</p>
                {% else %}
                    <p class="profilecard-text">Games won: 0</p>
                {% endif %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li class="text-success">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
  
                <!-- Add Friend / Remove Friend Button -->
                {% if user.is_authenticated and user != them %}
                    {% if is_friend is True%}
                        <p class="profilecard-text">Your friend 😊 <a href="{% url 'remove_friend' them.id %}" class="btn btn-danger">Remove Friend</a></p>
                    {% else %}
                        <p class="profilecard-text">Not a friend ☹️ <a href="{% url 'add_friend' them.id %}" class="btn btn-primary">Add Friend</a></p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<hr class="mx-auto border border-dark border-2" style="max-width: 1000px;">

<h2 style="max-width: 1000px;" id="headers strokeme" class="mx-auto mt-3 ps-2 strokeme bg-dark rounded">Match Results</h2>
{% if games %}
<ul class="list-group mx-auto" style="max-width: 1000px;">
	{% for game in games %}
        <li class="list-group-item">
			<div class="card" >
				<div class="matchcard-body">
					<strong>Game ID:</strong> {{ game.id }} <br>
            		<strong>Date:</strong> {{ game.date|date:"Y-m-d H:i:s" }} <br>
            		<strong>Players:</strong>
            		<ul>
                		{% for player in game.players.all %}
                    <li>
                        {{ player.user.username }} - Score: {{ player.score }} - Team: {{ player.team }}
                        {% if player.winner %} Winner👑{% endif %}
                    </li>
                		{% endfor %}
            		</ul>
				</div>
			</div>
        </li>
    {% endfor %}
</ul>
{% else %}
    <p>No games available.</p>
{% endif %}

{% endblock %}
