<div class="modal" tabindex="1" aria-labelledby="modal-body" aria-hidden="false">
    <div class="modal-header">
        <h5 class="modal-title">Tournoi / room id?</h5>
    </div>
    <div class="modal-body">
        <!-- <div class="container-fluid"></div> -->
        <div class="col" id="first-col"> <!-- 4 players --> 
            <div class="row" id="P1-row"></div>
            <div class="row" id="P2-row"></div>
            <div class="row" id="P3-row"></div>
            <div class="row" id="P4-row"></div>
        </div>
        <div class="col" id="second-col"> <!-- 2 winners --> 
            <div class="row" id="W1-row"></div>
            <div class="row" id="W2-row"></div>
        </div>
        <div class="col" id="third-col"> <!-- winner final --> 
            <div class="row" id="WF-row"></div>

        </div>
    </div>
    </div>
    
</div>