{% extends 'base.html' %}
{% load static %}
{% block title %}Transcendence | Truck League{% endblock %}
{% block content %}
<script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@0.164.1/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.164.1/examples/jsm/",
            "cannon": "https://cdn.skypack.dev/pin/cannon-es@v0.20.0-kjnG3LHQFwthijw6LzLZ/mode=imports/optimized/cannon-es.js"  
        }
    }
    </script>






    <div id="editor">
        <div id="view" class="container">
            <script src="{% static 'main/scripts/socket_truck.js' %}" type="module"></script>
            <script src="{% static 'main/scripts/truck.js' %}" type="module"></script>
            <!-- <script src="{% static 'main/scripts/split.min.js' %}" type="module"></script> -->
            <!-- <script src="{% static 'main/scripts/controls.js' %}" type="module"></script> -->

            <div class="loader">
                <div class="loader-inner">
                  <div class="loader-line-wrap">
                    <div class="loader-line"></div>
                  </div>
                  <div class="loader-line-wrap">
                    <div class="loader-line"></div>
                  </div>
                  <div class="loader-line-wrap">
                    <div class="loader-line"></div>
                  </div>
                  <div class="loader-line-wrap">
                    <div class="loader-line"></div>
                  </div>
                  <div class="loader-line-wrap">
                    <div class="loader-line"></div>
                  </div>
                </div>
            </div>
			<div id="truckGameCont">
				<div class="flex-container hud">
					<div class="hud-btn" id="create-room-2">
						<b>Create Room</b><br>
						<small>1 vs 1</small>
					</div>
					<div class="hud-btn" id="create-room-4">
						<b>Create Room</b><br>
						<small>2 vs 2</small>
					</div>
					<form class="menu" id="searchRoom">
						<input type="text" placeholder="enter room id #" name="searchRoom">
						<button type="hud-btn submit">Submit</button>
					</form>
					<div class="menu">
						<input type="color" id="team1" name="team1" value="#0036FF" />
						<label for="team1">Your team</label>
					</div>
					<div class="menu">
						<input type="color" id="team2" name="team2" value="#ff0036" />
						<label for="team2">Other team</label>
					</div>
					<div id="roomIdDiv">
						<p id="roomId" class="text-white bg-dark">Room: </p>
					</div>
					<div id="truckScoreboard" class="col align-items-center">
						<div id="scoreboard">
							<div>
								<div id="truckTeam1Score">Player 1:</div>
								<div id="player1Score"></div>
							</div>
							<div>
								<div id="truckTeam2Score">Player 2:</div>
								<div id="player2Score"></div>
							</div>
						</div>
						<!-- <p id="truckScoreMsg">Score</p>
						<p id="truckTeam1Score">0</p>
						<p id="truckTeam2Score">0</p> -->
					</div>
					<div class="midMsg">
						<p class="playercount text-white">Waiting for player: </p>
					</div>
				</div>
			</div>
    	</div>       
	</div>

{% endblock %}


<!--
TO ADD:
- Display player controls
- Scoreboard in the center of game
- 
-->