{% extends 'base.html' %}
{% load static %}
{% block title %}Transcendence | Truck League{% endblock %}
{% block content %}
<script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@0.164.1/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.164.1/examples/jsm/",
            "cannon": "https://cdn.skypack.dev/pin/cannon-es@v0.20.0-kjnG3LHQFwthijw6LzLZ/mode=imports/optimized/cannon-es.js"  
      }
    }
    </script>
    <div id="editor">
        <div id="view" class="container">
            <script src="{% static 'main/scripts/socket_truck.js' %}" type="module"></script>
            <script src="{% static 'main/scripts/truck.js' %}" type="module"></script>
            <!-- <script src="{% static 'main/scripts/split.min.js' %}" type="module"></script> -->
            <!-- <script src="{% static 'main/scripts/controls.js' %}" type="module"></script> -->
          
        <div id="gameCont" class="mt-3 three-js-canvas">
           <div class="flex-container hud">
               <div class="hud-btn">
                   <b>Play online</b>
                   <br>
                   <small><small>
                       ( 1 vs 1  or 2 vs 2)
                    </small></small>
                </div>
            </div>
        </div>
        </div>
       
      </div>
</body>
{% endblock %}

