<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Transcendence</title>
    <link rel="stylesheet" href="{% static 'main/styles/style.css' %}" type="text/css">
    <script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>
    <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.150.1/build/three.module.js",
                "three/addons/": "https://unpkg.com/three@0.150.1/examples/jsm/"
            }
        }
    </script>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
    <script src="{% static 'main/scripts/socket.js' %}" type="module"></script>
    <script src="{% static 'main/scripts/game.js' %}" type="module"></script>
</head>
<body>
    <h1>Transcendence</h1>
    <h2 id="ServerStatus">Server Status : <span style="color: red;">Disconnected</span>   </h2>
    <button id="connectBtn" type="button"><span id="btnText">Connect</span></button>
    <div id="game"></div>
</body>
</html>
